*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}
header{
    height: 130px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 30px 100px;
    background-color: gray;
}
.color{
    width: 300px;
    padding: 20px;
    background-color: rgb(64, 60, 60);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
}
.c{
    appearance: none;
    height: 40px;
    width: 40px;
    border-radius: 5px;
    cursor: pointer;
}
.c:hover{
    opacity: 0.5;
    
}
#blue,#blue2{
    background-color: blue;
}
#red,#red2{
    background-color: red;
}
#green,#green2{
    background-color: green;
}
#black,#black2{
    background-color: black;
}
.button{
    margin-left: 20px;
    /* width: 200px; */
    /* padding: 20px; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color:rgb(64, 60, 60);
}
i{
    color: white;
    font-size: 40px;
    pointer-events: none;
    cursor: pointer;
}
.add,.del{
    padding: 20px;
    cursor: pointer;
}
#delet{
    display: none;
}
#delet:checked ~ .del{
    background-color: rgb(112, 108, 108);
}
.ticket{
    width: 500px;
    height: 400px;
    position: absolute;
    top:30%;
    left: 35%;
    display: flex;
    display: none;
    z-index: 5;
}
.text{
    height: 380px;
    padding: 30px;
    background-color: rgb(184, 184, 184);
}
.col{
    width: 100px;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(94, 88, 88);
}
#text{
    resize: none;
    width: 350px;
    height: 310px;
    outline: none;
    border: none;
    padding: 10px;
    font-size: 20px;
}
.c:checked{
    border: 4px solid gray;
}
.tickets{
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.tick{
width: 400px;
height: 300px;
background-color: gainsboro;
border: 2px solid black;
overflow: hidden;
margin: 20px;
}
.co{
    height: 10px;
    /* background-color: black; */
}
.tag{
    height: 30px;
background-color: aliceblue;
}
.cont{
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    /* align-items: ; */
    padding: 10px;
    background-color: bisque;
}

